
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body{
    min-height: 100vh;
    background: #365fa1;
}
.navigation 
{
    position: fixed;
    inset: 20px;
    background-color: #287bff;
    width: 80px;
    border-left: 10px solid #287bff;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 15px 15px 25px rgba(0,0,0,0.05);
    transition: 0.5s;
}
.navigation.active{
    width: 300px;
    border-radius: 20px;
}
.toggle{
    position:absolute;
    bottom: 15px;
    width: 50px;
    right: 15px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 5px 50x 10px rgba(0,0,0,0.05);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggle::before{
    content: '';
    position: absolute;
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background: #365fa1;
    transform: translateY(-5px);
    transition: 1s;
}
.toggle::after{
    content: '';
    position: absolute;
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background: #365fa1;
    transform: translateY(5px);
    transition: 1s;
}
.navigation.active .toggle::before{
    transform: translateY(0px) rotate(-405deg);
}
.navigation.active .toggle::after{
    transform: translateY(0px) rotate(225deg);
}

.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.navigation ul li:hover{
    background-color: #fff;
    color: #222;

}
.navigation ul li:nth-child(1){
    top:20px;
    margin-bottom:40px;
    background: none;
}
.navigation ul li:not(:first-child):hover::before{
    content: '';
    position: absolute;
    top: -20px;
    right: 0;
    height: 20px;
    width: 20px;
    background:transparent;
    border-bottom-right-radius: 20px;
    box-shadow: 7.5px 7.5px 0 7.5px #fff;

}
.navigation ul li:not(:first-child):hover::after{
    content: '';
    position: absolute;
    bottom: -20px;
    right: 0;
    height: 20px;
    width: 20px;
    background:transparent;
    border-top-right-radius: 20px;
    box-shadow: 7.5px -7.5px 0 7.5px #fff;

}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}
.navigation ul li:hover:not(:first-child) a {
    color: #365fa1;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.navigation ul li a .icon ion-icon{
    font-size: 1.7em;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    padding-top: 20px;
    height: 60px;
    text-align: start;
    white-space: nowrap;
}